:root{
    --smaller: .75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    height: 100vh;
    scroll-snap-align: start;
}

#tableNow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#break {
    margin: 50px;
}

#tableToday {
    background-color: #f1f1f1;
}

#tableToday h1 {
    width: 100%;
    margin: 50px 0;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-weight: normal;
    font-size: 3.5rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
    margin-bottom: 100px;
}

#tableNow h1 {
    margin: 0;
    font-weight: bold;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
    font-weight: bold;
}

#lessonNow {
    margin-top: 15px;
}

#lessonNow span#startTime,
#lessonNow span#endTime {
    font-size: 1.5em;
    margin-top: 15px;
}

#lessonNow span#type {
    display: block;
    margin: 0;
}

#lessonToday {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

#lessonToday p {
    width: 60%;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 10px 10px 9px -1px #939393;
    font-weight: bold;
    font-size: 1.5em;

}

#lessonToday p span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 10px;
}

@media all and (min-width: 768px) {
    body {
        display: flex;
    }

    #tableNow {
        width: 66.66%;
    }

    #tableToday {
        flex-shrink: 5;
        margin: 0;
        width: 33.33%;
    }
}